/*FONTS
    font-family: "Lato", sans-serif;
    font-family: "Crimson Text", serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;1,200&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:wght@400;700&display=swap');

body {
    font-family: "Lato", sans-serif;
}

table {
    font-family: "Crimson Text", serif;
    border: 1px solid black;
    margin: 20px 0;
}


/*Navbar*/
.logo {
    width: 100px;
}
.nav-item, .nav-link {
    color: #fff;
    font-weight: 300;
}

.actives {
    color: #e6e7e7;
    font-weight: 600;
}

.navbar-toggler,.navbar-toggler-icon {
    color: #fff;
}

/*Detail Books*/
.books-img {
    width: 150px;
}

.books-title {
    font-family: "Crimson Text", serif;
    color: #1D3557;
    font-size: 1.3em;
}

.books-description {
    font-size: 1em;
    font-family: "Crimson Text", serif;
}
